@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* importing the poppins font /*


/* setting style for whole website */
body {
    background-color: #212124; 
    margin-left: 20px;
    font-family: "poppins";
}

::-webkit-scrollbar{
    width: thin;
    background: #212124;
    border-radius: 100vw;
    margin-block: 1em;
    border: 1px solid #6200EE;

}

::-webkit-scrollbar-thumb {
    background: #6200EE;
    border-radius: 100vw;

}

::-webkit-scrollbar::hover{
    cursor: pointer;
}

h1 { /* setting font color/position */
    align-items: center;
    color: white;
}

h3 { /* setting font color/position */
    align-items: center;
    color: white;
}


/* animates spinning orb */
.orb{
    align-items: center;
    animation: spin 2s linear infinite;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-left: 650px;
    margin-top: 140px;
    border-radius: 50%;
    position: relative;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px violet,
        inset -20px 0 60px blue,
        inset 20px 0 300px violet,
        inset -20px 0 300px blue,
        0 0 50px #fff,
        -10px 0 60px violet,
        10px 0 60px blue;
}

.orb2{
    align-items: center;
    animation: squish 2s linear forwards, roll-fade 2s linear forwards;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-left: 650px;
    margin-top: 140px;
    border-radius: 50%;
    position: relative;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px violet,
        inset -20px 0 60px blue,
        inset 20px 0 300px violet,
        inset -20px 0 300px blue,
        0 0 50px #fff,
        -10px 0 60px violet,
        10px 0 60px blue;
}

.orb3{
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    animation: roll-in 2s linear forwards;
    width: 300px;
    height: 300px;
    left: 300px;
    top: 140px;
    border-radius: 50%;
    position: relative;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 60px violet,
        inset -20px 0 60px blue,
        inset 20px 0 300px violet,
        inset -20px 0 300px blue,
        0 0 50px #fff,
        -10px 0 60px violet,
        10px 0 60px blue;
}

@keyframes spin { /* creates 'spin' animation */
    0% { top: 20px; }
    25% { top: 22px; }
    50% { top: 30px; }
    75% { top: 27px; }
    100% {transform: rotate(360deg); top: 20px;}

} 

@keyframes squish { /* creates 'roll' animation */
        from, to { transform: scale(1, 1); }
        25% { transform: scale(0.9, 1.1); }
        50% { transform: scale(1.1, 0.9); }
        75% { transform: scale(0.95, 1.05); }
}

@keyframes roll-fade {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
      }
    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    
} }

@keyframes roll-in {
    0% {
      transform-origin: left bottom;
      transform: rotate(-90deg);
      opacity: 0;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
      }
    }
 

#home_button { /* styles button on home page */
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 35px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    background-color: #818181;
}

/* creates glowing button effect */
.btn{
    margin-top: 20px;
    padding: 20px 35px;
    border: none;
    outline: none;
    font-size: 35px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after {
    content:"";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B3B3B3;
    left:0;
    top: 0;
    border-radius: 10px;
}

.btn::before{
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000, #ff7300, #fffb00, #48ff00,
        #00FFd5, #002bff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation:glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;}

@keyframes glowing {
    0% {background-position: 0 0 ;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.btn:focus:before {
    opacity: 1;
}

.btn:focus:after {
    background: transparent;
}

.btn:focus {
    color: #000;
    font-weight: bold;
}


/* styles 'search' page */
.search_user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: baseline;
    color: white;
}

#user_name_text {
    padding: 10px;
    width: 100%;
    border: 1px solid #6200EE;
    background: #121212;
    border-radius: 7px;
    outline: none;
    color: white;
    font-size: 1em;

}

.search_user span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #6200EE;
    text-transform: capitalize;
    transition: 0.5s;
}



#user_name_text:valid ~span,
#user_name_text:focus ~span
{
    color: #6200EE;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #121212;
    border-left: 1px solid #6200EE;
    border-right: 1px solid #6200EE;


}

#user_id_ex1{
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: white;
    padding-top: 100px;
}

#user_id_ex2{
    font-size: 18px;

    font-weight: bold;
    color: white;
}

#user_id_ex3{
    font-size: 15px;
    font-weight: bold;
    color: lightgray;
}



/* styles 'user-playlists' page */

.container-all{
    display:grid
}

.user_playlists_container{
    width: 800px;
    border-radius: 8px;
    margin: 220px 70px;
    border: 2px solid #6200EE;
    background: #FFFF;
    border-radius: 7px;
    outline: none;
    position: absolute;
    left: 50px;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    max-height: 400px;
    overflow-y: scroll;
}


.user_playlists_list_item{
    position: relative;
    background-color: #FFFF;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 10px #B3B3B3;
    justify-content: space-between;
    overflow: hidden;
}

.user_playlists_list_item .item {
    height: 50px;
    list-style: none;
    cursor: pointer;
    color: #6200EE;
    transition: 0.5s;
    padding: 0 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    justify-content: space-between;
    font-weight: bold;
}

.user_playlists_list_item .item:hover{
    background-color: #6200EE;
    color:white;
}


.item .playlists_listed{
    height: 16px;
    display: inline-block;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid black;
    transition: all 0.3s ease-in-out;
}
.user_playlists{
    position: absolute;
    top: 145px; 
    left: 115px;
    color: white;
}

.user_playlists2{
    position: absolute;
    top: 180px; 
    left: 115px;
    color: white;
}

#submit_btn{
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 115px;
    top: 625px;
    z-index: 0;
    border-radius: 7px;
    background-color: #212124;
    border: 1px solid #212124;
    background: #818181;
}

#submit_btn:active{
    background-color: #6200EE;
}
#submit_btn:hover{
    background-color: #6200EE;
    cursor: pointer;
}