{% extends "base.html" %}

    {% block content %}

    <!-- Home Page: transition for orb "roll-out" animation -->

    <div class="orb2"></div> 

    <h1>Welcome to Smart Shuffle,</h1>
    <h3>the smart way to listen</h3>

    <a href=None> 
    <button  id="home_button">Lets begin</button>
    </a>

    <a href="None"> 
        <button  id="home_button">How it works</button>
        </a>


    <script>
    // Wait for 2s (in milliseconds) to see the animation"
    setTimeout(function() {
        window.location.href = "/login"; //sending to spotify login page
    }, 2000);

    </script> 
    {% endblock %}

 </html>
