{% extends "base.html" %}

    {% block content %}
        <h3 id="user_id_ex1"> Spotify User ID: </h3>
        <h3 id="user_id_ex2">can be found at the end
            of your profile URL, following the "/user" tag</h3>
        <h3 id="user_id_ex3"> E.g. https://open.spotify.com/user/1234567891011? </h3>
        <div class="orb3"></div>
        <div class="search_user">
       
        <h1>Find Your Profile</h1>
        <div class="user_name">
            <form name = "user_name" method = "POST" action="/submit-username">
                <input name = "user_name" id="user_name_text" type="text" required="required">
                <span id="user_name_span">Spotify User ID</span>
                <br>
                <br>
                <input id="submit_btn" type="submit" value="Submit">
            </form>

        </div>

    </div>
   
    {% endblock %}

 </html>
