{% extends "base.html" %}


    <!-- User Playlists: shows the entire library of a user -->
    {% block content %}
<div class="container-all">
    <div class="orb3"></div>
  
    <h3 class="user_playlists">Your Playlists Have Been Collected Here.</h3>
    <h4 class="user_playlists2">make a single selection below....</h4>
    <div class="user_playlists_container">
        <ul class = 'user_playlists_list_item'> <!-- form collects user playlist selection for server -->
            <form method="POST" action="{{ url_for('open_playlist') }}" name="playlist_selection">  
            {% for name in playlist_names %}
            <li class="item">
            <input class = 'playlists_listed' type="checkbox" id="{{name}}" name="playlist_selection" value="{{name}}">
            <label class = 'playlists_listed_' for="{{name}}">{{name}}</label>
            </li>
            {% endfor %}
        </ul>
    
    </div>
            <input id="submit_btn" type="submit" value="Submit">
            </form>

</div>

        {% endblock %}