{% extends "base.html" %}

    {% block content %}

    <!-- Home Page -->

    <div class="orb"></div> 

    <h1>Welcome to Smart Shuffle,</h1>
    <h3>the smart way to listen</h3>

    <a href="{{url_for('lets_begin')}}">  <!-- sends user to "lets_begin" which is a transition page for the orb element -->
    <button  id="home_button">Lets begin</button>
    </a>

    <a href="{{url_for('about_app')}}"> <!-- sends user to "about_app" which explains the purpose of the application -->
        <button  id="home_button">How it works</button>
        </a>

    {% endblock %}

 </html>
